build/
imgui.ini
settings.ini
.vscode/
CMakeSettings.json
out/
.vs/
bin/
bin-int/

# Visual Studio clutter
_ReSharper*
*.sdf
*.suo
*.dir
*.vcxproj*
*.sln
.vs
CMakeSettings.json
Win32
x64
Debug
Release
MinSizeRel
RelWithDebInfo
*.opensdf